body {
  background: #233047;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.time-icon{
  position: relative;
  border-radius: 50%;
  top: -55px;
  border: 2px #222 solid;
  z-index: 1;
  margin-bottom: -50px;
}

.card-img-top{
  border-bottom: 2px black solid;
}
